<nav class="flex items-center justify-between px-4 py-2 bg-gradient-to-r from-gray-900 to-gray-800 font-serif text-white">
    <span class="text-white text-xl font-bold">ConvoLink</span>
    <div class="flex justify-center flex-1">
        <a href="/" class="font-sans font-medium px-3 py-2 text-white rounded-lg hover:bg-gray-700">Home</a>
        <a href="/about" class="font-sans font-medium px-3 py-2 text-white rounded-lg hover:bg-gray-700">About</a>
        <a href="/group/all" class="font-sans font-medium px-3 py-2 text-white rounded-lg hover:bg-gray-700">Groups</a>
    </div>
    <% if (currentUser) { %>
        <div class="flex items-center">
            <i class="fas fa-user text-lg mr-2"></i>
            <span class="text-lg"><%= currentUser.name %></span>
        </div>
        <% } else { %>
            <span class="font-sans text-lg ml-auto">User not logged In</span>
            <% } %>
</nav>