<% layout('layout/boilerplate.ejs') %>

    <div class="bg-gray-900 text-white min-h-screen">
        <div class="container mx-auto my-8 p-4 mt-0">
            <!-- Added mt-0 to reset top margin -->
            <h1 class="text-3xl font-bold mb-6 flex items-center">All Groups
                <a id="link" href="/group" class="ml-4">
                    <button class="bg-gray-700 hover:bg-gray-800 text-white py-2 px-4 rounded-md">
                    Create Group
                </button>
                </a>
            </h1>

            <div class="overflow-x-auto">
                <table class="min-w-full divide-y divide-gray-700 overflow-hidden bg-gray-800 rounded-lg shadow-lg">
                    <thead class="bg-gray-700">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-sm font-bold uppercase tracking-wider">Group Name</th>
                            <th scope="col" class="px-6 py-3 text-left text-sm font-bold uppercase tracking-wider">Admin</th>
                            <th scope="col" class="px-6 py-3 text-left text-sm font-bold uppercase tracking-wider">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-700">
                        <% for(let group of groups){ %>
                            <tr class="transition-all hover:bg-gray-700">
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm font-medium">
                                        <%= group.title %>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm font-medium">
                                        <%= group.author %>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <a href="/group/<%=group.id%>" class="bg-gray-700 hover:bg-gray-800 text-white py-1 px-3 rounded-md text-sm font-medium">Show</a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>