<% layout('layout/boilerplate.ejs') %>
<div class="container mx-auto my-8 p-4">
    <h1 class="text-3xl font-bold mb-6">All Groups
        <span for="link" class="badge bg-primary ml-2">
            <a id="link" href="/group" class="link link-light" style="text-decoration: none;">Create Group+</a>
        </span>
    </h1>

    <table class="table w-full">
        <thead>
            <tr>
                <th scope="col" class="text-left">Group Name</th>
                <th scope="col" class="text-left">Admin</th>
                <th scope="col" class="text-left">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% for(let group of groups){ %>
                <tr>
                    <td class="flex items-center">
                        <i class="fas fa-users mr-2"></i>
                        <%= group.title %>
                    </td>
                    <td><%= group.author %></td>
                    <td>
                        <button class="btn btn-primary">
                            <a class="link link-light" style="text-decoration: none;" href="/group/<%=group.id%>">Show</a>
                        </button>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
