<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Login Page</title>
</head>

<body class="bg-gray-900 text-white h-screen flex items-center justify-center">

    <div class="w-96 p-8 bg-gray-800 rounded-lg text-left">
        <h1 class="text-3xl font-bold mb-6 text-center">Login</h1>

        <form action="/api/auth/login" novalidate class="validated-form" method="post">

            <div class="mb-4">
                <label class="block text-sm font-bold mb-2" for="email">Email</label>
                <input type="email" class="form-input w-full px-4 py-2 bg-gray-700 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500 rounded-md" name="email" required id="email" placeholder="Enter your email">
            </div>

            <div class="mb-4">
                <label class="block text-sm font-bold mb-2" for="password">Password</label>
                <input type="password" class="form-input w-full px-4 py-2 bg-gray-700 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500 rounded-md" name="password" required id="password" placeholder="Enter your password">
            </div>

            <div class="mb-4">
                <button class="bg-blue-500 text-white px-4 py-2 rounded-full w-full hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300" type="submit">Login</button>
            </div>

        </form>

        <p class="text-sm text-center">Don't have an account? <a href="/sign-up" class="text-blue-500">Sign Up</a></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("loginForm").addEventListener("submit", async(event) => {
                event.preventDefault();

                const email = document.getElementById("email").value;
                const password = document.getElementById("password").value;

                try {
                    const response = await axios.post("/api/auth/login", {
                        email: email,
                        password: password,
                    });

                    const responseData = response.data;
                    if (responseData.success) {
                        alert("Login successful");
                        window.location.href = "/";
                    }
                } catch (error) {
                    console.error("Login failed:", error);
                    alert("Login failed. Please try again later.");
                }
            });
        });
    </script>

</body>

</html>