<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Signup Page</title>
</head>

<body class="bg-gray-900 text-white h-screen flex items-center justify-center">

    <div class="w-96 p-8 bg-gray-800 rounded-lg text-left">
        <h1 class="text-3xl font-bold mb-6 text-center">Sign Up</h1>

        <form action="/api/auth/createuser" novalidate class="validated-form" method="post" enctype="multipart/form-data">

            <div class="mb-4">
                <label class="block text-sm font-bold mb-2" for="email">Email</label>
                <input type="email" class="form-input w-full px-4 py-2 bg-gray-700 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500 rounded-md" name="email" required id="email" placeholder="Your Email">
            </div>

            <div class="mb-4 flex space-x-2">
                <div>
                    <label class="block text-sm font-bold mb-2" for="name">Name</label>
                    <input type="text" class="form-input w-full px-4 py-2 bg-gray-700 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500 rounded-md" name="name" required id="Name" placeholder="Your Name">
                </div>

                <div>
                    <label class="block text-sm font-bold mb-2" for="password">Password</label>
                    <input type="password" class="form-input w-full px-4 py-2 bg-gray-700 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500 rounded-md" name="password" required id="password" placeholder="Your Password">
                </div>
            </div>

            <div class="mb-4">
                <label for="image" class="block text-sm font-bold mb-2">Add Profile Photo</label>
                <div class="relative border-dashed border-2 border-gray-600 rounded-md p-4">
                    <input type="file" class="hidden" name="image" id="image" accept="image/*" onchange="displayImagePreview(this)">
                    <label for="image" class="cursor-pointer text-gray-300">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 mx-auto">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
                        </svg>
                        <span class="text-xs" id="file-label">Choose a file</span>
                    </label>
                    <div id="image-preview" class="mt-2 flex items-center space-x-2"></div>
                </div>
            </div>

            <div class="mb-4">
                <button class="bg-blue-500 text-white px-4 py-2 rounded-full w-full hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300" type="submit">Sign Up</button>
            </div>

        </form>

        <p class="text-sm text-center">Already have an account? <a href="/sign-in" class="text-blue-500">Login</a></p>
    </div>

    <script>
        function displayImagePreview(input) {
            const fileLabel = document.getElementById('file-label');
            const imagePreview = document.getElementById('image-preview');
            const file = input.files[0];

            fileLabel.textContent = file ? file.name : 'Choose a file';

            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.className = 'w-12 h-12 rounded-md';
                    const fileName = document.createElement('span');
                    fileName.textContent = file.name;
                    fileName.className = 'text-sm';
                    imagePreview.innerHTML = '';
                    imagePreview.appendChild(img);
                    imagePreview.appendChild(fileName);
                };
                reader.readAsDataURL(file);
            } else {
                imagePreview.innerHTML = '';
            }
        }
    </script>

</body>

</html>