<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ConvoLink</title>
</head>

<body class="bg-green-200">
    <%- include('../partials/navbar') %>
        <main>
            <%-body%>
        </main>

</body>

</html>